.barred {
    text-decoration: line-through;
}

.item {
    display: flex;
    gap: 0.5rem;
    & .cross {
        cursor: pointer;
        color: red;
        font-weight: bold;
    }
}
.error-message {
    color: red;
    margin-left: 0.5rem;
}